# Log file
*.log

# Package Files #
*.jar
*.war
*.nar
*.ear
*.tar.gz
*.rar

# Ignore Gradle project-specific cache directory
.gradle
!gradle/wrapper/gradle-wrapper.jar

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/

#Gradle
.gradle/
build/